@import "fonts";

// Color names
$dusk-blue: #1c223a;
$midnight-blue: #131830;
$daylight-blue: #4b97ff;
$dawn-blue: #242a41;
$morning-blue: #b6b9cb;
$mid-gray: #5a5a5a;
$smoke-gray: #3a3a3a;

// Color assignments
$highlight: $daylight-blue;
$secondary-background-color: $midnight-blue;
$primary-background-color: $dusk-blue;
$light-on-dark-copy-color: #fff;
$dark-on-light-copy-color: $smoke-gray;
$navigation-item-color: #fff;
$hover-color: $daylight-blue;
$horizontal-rule-color: $dawn-blue;
$button-copy-color: #fff;
$button-background-color: $daylight-blue;
$placeholder-color: $mid-gray;
$tertiary-background-color: $dawn-blue;
$notification-small-print-color: transparentize($daylight-blue, 0.5);

// Layout variables
$large-content-horizontal-padding: 5rem;
$form-field-border-radius: 3px;
$horizontal-rule-width: 2px;
$header-bottom-spacing: 2.45rem;

// Typography
$copy-font: 400 18px/1.5 "Montserrat", "Proxima Nova", "Avenir", "Helvetica", "Arial", sans-serif;

// Mixins
@mixin visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

@mixin clear-fix {

    &:before,
    &:after {
        content: " ";
        display: table;
    }

    &:after {
        clear: both;
    }
}

a:link,
a:visited {
    text-decoration: none;
}

body,
input,
select,
textarea,
button {
    font: $copy-font;
    line-height: 1.6;
}

input,
select,
textarea,
button {
    border: 0;
    border-radius: $form-field-border-radius;
    color: $dark-on-light-copy-color;
    font-size: 1rem;
    padding: 0.5rem 0.9rem;

    &.wide {
        width: 26rem;
    }
}

input,
select,
textarea {
    font-weight: 300;
}

button {
    background-color: $button-background-color;
    color: $button-copy-color;
    cursor: pointer;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}

h2 {
    font-size: 1.5rem;
}

small {
    color: transparentize($light-on-dark-copy-color, 0.7);
    font-size: 0.8125rem;
}

// We have to separate the selectors for each browser, otherwise the declaration block is not applied ¯\_(ツ)_/¯
:-ms-input-placeholder {        // IE
    color: $placeholder-color;
}

::-ms-input-placeholder {       // Edge
    color: $placeholder-color;
}

::-webkit-input-placeholder {   // Chrome
    color: $placeholder-color;
}

::placeholder {
    color: $placeholder-color;
}

.streamlined {
    border-radius: $form-field-border-radius 0 0 $form-field-border-radius;

    + button {
        border-radius: 0 $form-field-border-radius $form-field-border-radius 0;
    }
}

html,
body {
    height: 100%;
}

body {
    // A little ashamed to have to use font-smoothing, but Monserrat does not render nicely against a darker background
    // without it. Could possibly be removed if we change typeface.
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    background-color: $primary-background-color;
    color: $light-on-dark-copy-color;
    display: flex;
    flex-direction: column;

    > header {
        background-color: $secondary-background-color;
        border-top: 9px solid $highlight;
        padding-top: 3.5rem;

        h1 {
            margin: 0;
        }
    }

    > header > div,
    main > section,
    .hero > div,
    > footer > div {
        margin: 0 auto;
        max-width: 60rem;
        padding: {
            left: $large-content-horizontal-padding;
            right: $large-content-horizontal-padding;
        }
    }

    > header > div {
        align-items: flex-end;
        border-bottom: $horizontal-rule-width solid $horizontal-rule-color;
        display: flex;
        justify-content: space-between;
    }

    main {
        flex: 1;
    }

    > footer {
        background-color: $tertiary-background-color;

        > div {
            padding: {
                bottom: 0.5rem;
                top: 0.5rem;
            }
        }
    }
}

.lockout {
    left: -3.9rem;
    padding-bottom: $header-bottom-spacing;
    position: relative;
    vertical-align: bottom;
}

.primary-navigation {
    left: 3.3rem;
    position: relative;

    a:link {
        color: $light-on-dark-copy-color;
    }

    // [1]: Remove the space between `li`s
    ul {
        font-size: 0;       // [1]
        list-style: none;
    }

    li {
        display: inline-block;
        margin: 0;
    }

    a {
        $selected-item-border-width: 5px;
        border-bottom: $selected-item-border-width solid transparent;
        display: block;
        font-size: 1rem;    // [1]
        margin-bottom: -$horizontal-rule-width;
        padding: 1.45rem 1.5rem $header-bottom-spacing;
        position: relative;

        &:link,
        &:visited {
            color: $navigation-item-color;
        }

        &:hover {
            color: $hover-color;
            border-bottom: $selected-item-border-width solid $daylight-blue;
        }
    }
}

.hero {
    background-color: $secondary-background-color;
    font-size: 1.1875rem;
    overflow: auto;
    padding-bottom: 4rem;
    padding-top: 1.2rem;

    p {
        width: 32rem;
    }
}

.notification-sign-up,
.product-overview {

    h2 {
        @include visually-hidden;
    }
}

.notification-sign-up {

    form {
        font-size: 0;   // Removes the gap between the `input` and `button` when a `.streamlined` layout is used.
        margin-bottom: 0.5rem;
    }
}

.product-overview {

    > section {
        @include clear-fix;
        margin: 3.3rem 0;
    }

    h3 {
        @include visually-hidden;
    }
}

.css-diff-diagram {
    float: right;
    margin-top: -8rem;
    position: relative;
    right: 5rem;
}

.css-developer-plugin-diagram {
    float: right;
    margin-top: -4rem;
}

.css-diff-feature,
.css-developer-plugin-feature {

    p {
        display: inline-block;
        width: 34rem;
    }
}

.css-coverage-diagram {
    float: left;
    margin-right: 7rem;
}
