<header class="primary-header" role="banner">

    <div>
        <h1><img class="lockout" alt="Stylesage" src="~/images/lockout.svg" /></h1>

        <nav class="primary-navigation">
            <ul>
                <li><a href="#">Pricing</a></li>
                <li><a href="#">About</a></li>
            </ul>
        </nav>
    </div>

</header>

<main role="main">
    <div class="hero">
        <div>
            <h2 class="product-description">CSS regression testing, coverage, and optimization as a service.</h2>

            <section class="notification-sign-up">
                <h2>Sign Up for a Notification</h2>
                <p>Stylesage is currently under heavy development. Please sign up below to be notified when it’s ready.</p>

                <form action="/" method="post">
                    <input type="email" class="wide streamlined" id="notification-email-address" maxlength="200" required="required" placeholder="Your email address" />
                    <button type="submit">Notify me!</button>
                </form>

                <small>You'll receive two emails: one to confirm your address, and one when Stylesage is ready.</small>
            </section>
        </div>
    </div>

    <section class="product-overview">
        <h2>Overview</h2>

        <p>
            Visually compare changes to your look and feel against your existing site; be confident you haven’t introduced
            unexpected modifications to any page.
        </p>

        <p>
            Identify and remove unnecessary styles across your entire site, using Stylesage CSS coverage tools custom web
            crawler.
        </p>

        <p>Work seamlessly in the browser with Stylesage cross-browser developer plugins. Work offline when necessary.</p>
    </section>
</main>

<footer class="primary-footer" role="contentinfo">
    <div>
        <small>A service provided by the General Partnership of Matt Creighton and Matt Titchener.</small>
    </div>
</footer>
